#!/usr/bin/make -f

DIR := debian/tmp
OCAML_DIR := opt/opam/${OCAML_VERSION}
VYCONF_DATA := usr/share/vyos/vyconf
VYCONF_CONF := etc/vyos/vyconf
VYCONF_BIN := usr/libexec/vyos/vyconf

%:
	dh $@ --with quilt

override_dh_auto_build:
	./build.sh $(DIR)

override_dh_auto_install:
	mkdir -p $(DIR)/$(VYCONF_DATA)
	mkdir -p $(DIR)/$(VYCONF_CONF)
	mkdir -p $(DIR)/$(VYCONF_BIN)
	cp $(OCAML_DIR)/share/vyconfd/vyconf.proto $(DIR)/$(VYCONF_DATA)
	cp $(OCAML_DIR)/share/vyconfd/vyconfd.conf $(DIR)/$(VYCONF_CONF)
	cp $(OCAML_DIR)/bin/vyconfd $(DIR)/$(VYCONF_BIN)

	mkdir -p $(DIR)/usr/lib
	cp _build/libvyosconfig.so $(DIR)/usr/lib/libvyosconfig.so.0
	dh_makeshlibs

override_dh_auto_test:
	echo "No tests yet"
