#!/usr/bin/make -f

DIR := debian/tmp
OCAML_DIR := opt/opam/${OCAML_VERSION}
VYCONF_BIN := usr/libexec/vyos/vyconf
VYCONF_DATA := usr/libexec/vyos/vyconf
VYCONF_CONF := usr/libexec/vyos/vyconf

%:
	dh $@ --with quilt

override_dh_auto_build:
	./build.sh $(DIR)

override_dh_auto_install:
	mkdir -p $(DIR)/usr/share/vyos/vyconf
	mkdir -p $(DIR)/usr/libexec/vyos/vyconf
	mkdir -p $(DIR)/etc/vyconf
	cp $(OCAML_DIR)/bin/vyconfd $(DIR)/$(VYCONF_BIN)

	mkdir -p $(DIR)/usr/lib
	cp _build/libvyosconfig.so $(DIR)/usr/lib/libvyosconfig.so.0
	dh_makeshlibs

override_dh_auto_test:
	echo "No tests yet"
